<h2>{{poll.title}}</h2>

<div class="label label-info" ng-show="locked">This Poll is locked for voting.</div>

<button class="btn" ng-hide="locked" ng-click="publish()">Publish</button>
<table class="table">
	<tr ng-repeat="option in poll.options" class="table-row">
		<td>{{option.title}} </td>
		<td><button class="btn" ng-hide="locked" ng-click="delitem(option.id)">Delete item?</button></td>
	</tr>
	<tr ng-hide="locked" class="table-row">
		<td><input ng-submit="addOption(optionname)" ng-model="optionname" type="text"/></td>
		<td><button ng-click="addOption(optionname)" class="btn">Add Option</button></td>
	</tr>
</table>
<ul>

</ul>



