<h2>All Polls</h2>


	<table class="table">


	<tr ng-repeat="poll in polls | orderBy:'-date'" class="table-row">

		<td>
			<div ng-show="poll.can_vote">
				<a ng-href="#/vote/{{poll.url}}">{{poll.title}}</a>
			</div>
			<div ng-hide="poll.can_vote">
				{{poll.title}}
			</div>


		</td>

		<td>

			<div class="label label-success" ng-show="poll.can_vote">You can vote</div>
			<div class="label label-warning" ng-hide="poll.can_vote">You cannot vote</div>
		</td>

		<td>{{poll.date | date:'MM/dd/yyyy h:mma'}}</td>

	</tr>
</table >