<div ng-show="login" class="view">
<h2>Polls I Created</h2>


<table ng-show="login" class="table">

		<tr class="table-row">
			<td colspan="4">
				<input type="text" class="span8" ng-model="pollname"/>
			</td>

			<td>
				<button class="btn btn-success" ng-click="newpoll(pollname)">Create Poll</button>
			</td>
		</tr>

	<tr ng-repeat="poll in polls | orderBy:'-date'" class="table-row">

		<td><a ng-href="#/edit/{{poll.url}}">{{poll.title}}</a></td>
		<td>
			{{poll.votes}} vote{{poll.votes!== 1?'s':''}} in
		</td>
		<td>
			<button ng-show="poll.open" class="btn btn-info">Close Voting</button>
		</td>
		<td>{{poll.date | date:'MM/dd/yyyy h:mma'}}</td>
		<td>
		<button class="btn btn-danger" ng-click="delpoll(poll.url)">Delete this poll</button></td>
	</tr>
</table>
</div>

<div ng-hide="login">
	<h2>Log in to get started</h2>
</div>