<ul class="nav navbar-nav">
	<li><a href="#/">Home</a></li>
	<li><a href="#/list">List</a></li>
	<li ng-hide="active"><a class="btn" ng-click="pop_register()">Register</a></li>
	<li ng-show="active"><a ng-click="logout()">Log Out, {{name}}</a></li>
	<li ng-hide="active" class="well">
		<h5>login</h5>
		<input ng-model="user" type="text" placeholder="user"/>
		<input ng-model="password" type="text" placeholder="password"/>

		<a ng-hide="active" ng-click="login(user, password)">Log In, {{name}}</a>
	</li>
	<li ng-hide="active" class="well">
		<h5>register</h5>
		<input ng-model="new_user" type="text" placeholder="user"/>
		<input ng-model="new_password" type="text" placeholder="password"/>
		<span ng-show="flash_error" class="label label-warning">
			Please enter a valid Username and Password.
		</span>
		<a class="btn" ng-click="register(new_user, new_password)" >Register</a>
	</li>
</ul>