<div class="row">
	<div class="btn-group btn-group-justified">
		<!--<a class="btn btn-success" role="button">Save Votes to Server</a>-->
		<a class="btn btn-default" ng-click="clearAll()" role="button">Clear Everything</a>
		<div style="visibility:hidden;" class="btn col-md-4"></div>
		<a ng-click="vote()" class="btn btn-danger" role="button">Vote</a>
	</div>
</div>


<div class="row">
	<br/><br/>
</div>

<div class="voteview row clearfix">
	<div ui-sortable="sortableOptions" class="vote-container unvoted col-md-3" ng-model="unvoted">

		<div class="vote-option vote" ng-repeat="vote in unvoted">{{vote.title}}</div>

	</div>

	<div ui-sortable="sortableOptions" ng-class="dropTargetClass" class="vote-container screen floatleft voteballot col-md-9" ng-model="ranked">

		<div class="vote-actual vote" ng-repeat="vote in ranked">{{$index+1}} <strong>{{vote.title}}</strong>

			<!--<span class="notes">Other info here.</span>-->
		</div>

	</div>
</div>