$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '../bower_components/sass-bootstrap/lib/bootstrap';

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 1000px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}


.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}








.voteview {
	.vote-container {
		background:#f4f4f4;
		min-height:40px;
		display: block;
		padding-top:15px;
		padding-bottom:15px;

		&.voteballot {
			//padding-bottom: 50px;
		}


		&.helper-context:before {
			content: "drop items here";
			display: block;
			padding:10px;
		}


		.vote {
			cursor: move;
			padding: 10px;
			margin: 5px 0;
			font-size: 1.1em;
			background:#DFDFDF;
			width:100%;

			&.ui-sortable-helper {
				//width:300px !important;
			}
		}

		.vote-insert {
			height:10px;
			background:#ddd;
			display: block;
			margin:10px 0;
		}
		.vote-actual {
			width: 100%;

			background-color: #dff0d8;

		}


	}


}

